/* 
Si la pantalla se hace pequeña desaparece. 
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;

}

.button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #3e8e41;
}

.transformador {
    display: flex;
    gap: 5em;
    justify-content: center;
    overflow: auto;

}

.encabezado {
    text-align: center;
}

#opcion {
    font-weight: bolder;
}

#map{
    height: 400px;
    min-height: 400px;
}

#map:hover{
    cursor:crosshair;
}

